<!DOCTYPE html>
<html lang="en" 
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Error</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="w-screen h-screen bg-gray-800 text-center flex flex-col align-middle justify-center">
    <div id="content" >
        <div class="text-center flex flex-row justify-center align-middle">
            <div class="flex flex-col justify-end align-middle">
                <img src="/images/telephone-directory.png" class="h-16 w-14" alt="" srcset="">
            </div>
            <div class="flex flex-col justify-center align-middle">
                <p class="text-2xl text-gray-200">Smart Contact Manager</p>
            </div>
        </div>
        <div class="text-center text-3xl flex flex-row justify-center mt-5">
            <i class="fa-solid fa-envelope text-gray-200 mt-0.5 mx-3"></i>
            <h2 class="text-red-400">Email Verification Failed</h2>
        </div>
        <div class="text-center text-3xl flex flex-row justify-center mt-5">
            <i class="fa-solid fa-lock text-gray-200 mt-0.5 mx-3"></i>
            <h2 class="text-red-400">Account Disabled</h2>
        </div>
        <div><i class="fa-regular fa-face-frown text-9xl text-green-400 mt-5"></i></div>
    </div>
    <script>
        console.log("Home");
    </script>
</body>
</html>