<div data-th-fragment="profileCard" id="view_contact_profile">
    <!-- Main modal -->
    <div id="default-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-2 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="flex flex-row justify-center">
                    <img id="contact_image" src="" class="h-20 w-20 mt-7 rounded-full">
                </div>
                
                <!-- Modal header -->
                <div class="flex items-center justify-between px-3 md:p-3 border-b rounded-t dark:border-gray-600">
                    <div class="w-screen">
                        <h3 id="contact_name" class="text-sm text-center font-semibold text-gray-900 dark:text-white">
                            Name
                        </h3>
                        <p id="contact_email" class="text-sm text-center">example123@gmail.com</p>
                        <p class="text-center" id="favourite"></p>
                    </div>
                    
                    <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="default-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4 flex flex-col">
                    <div class="flex flex-row text-gray-600 dark:text-white items-center justify-start px-5">
                        <div class="w-8">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div>
                            <h3 id="contact_phone">Contact</h3>
                        </div>
                    </div>
                    <div class="flex flex-row text-gray-600 dark:text-white items-center justify-start px-5">
                        <div class="w-8">
                            <i class="fa-solid fa-circle-info"></i>
                        </div>
                        <div>
                            <h3 id="contact_about">About</h3>
                        </div>
                    </div>
                    <div class="flex flex-row text-gray-600 dark:text-white items-center justify-start px-5">
                        <div class="w-8">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div>
                            <h3 id="contact_address">Address</h3>
                        </div>
                    </div>
                    <div class="flex flex-row text-gray-600 dark:text-white items-center justify-start px-5">
                        <div class="w-8">
                            <a href="" id="weblink" target="_blank"><i class="fa-solid fa-globe"></i></a></i>
                        </div>
                        <div>
                            <h3 id="contact_website">www.portfolio.com</h3>
                        </div>
                    </div>
                    <div class="flex flex-row text-gray-600 dark:text-white items-center justify-start px-5">
                        <div class="w-8">
                            <a href="" id="linkedIn" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <div>
                            <h3 id="contact_linkedIn">www.linkedIn.com</h3>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button data-modal-hide="default-modal" type="button"
                        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
