<!DOCTYPE html>
<html lang="en" 
th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="content">
        <h2>Smart Contact Manager</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi magni amet consectetur quam cumque nobis, dicta laborum veniam, odit, assumenda inventore ex nulla dolorem ullam.</p>
    </div>
    <script>
        console.log("Home");
    </script>
</body>
</html>