<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>

<body>
    <div id="content">
        <section class="bg-gray-50 dark:bg-gray-900">
            <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
                <div data-th-replace="~{message :: message-box}"></div>
                <a href="#" class="flex items-center mb-3 text-2xl font-semibold text-gray-900 dark:text-white">
                    <img class="w-8 h-8 mr-2" src="images/telephone-directory.png" alt="logo">
                    Smart Contact Manager    
                </a>
                <div class="w-96 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-3 space-y-4 md:space-y-6 sm:p-8">
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            Create an account
                        </h1>
                        <form class="space-y-4 md:space-y-6" 
                        data-th-action="@{'/registration'}" 
                        method="post"
                        data-th-object="${userForm}"
                        novalidate
                        >
                            <div>
                                <label for="name" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                                <input type="text" th:field="*{name}" name="name" id="name" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="Enter Your Name" required="">
                                <p data-th-if="${#fields.hasErrors('name')}" 
                                data-th-errors="*{name}"
                                class="text-red-600 px-2 py-0.5"></p>
                            </div>
                            <div>
                                <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                                <input type="email" th:field="*{email}" name="email" id="email" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="name@company.com" required="">
                                <p data-th-if="${#fields.hasErrors('email')}" 
                                data-th-errors="*{email}"
                                class="text-red-600 px-2 py-0.5"></p>

                            </div>
                            <div class="flext flex-col">
                                <label for="password" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                                <input type="password" th:field="*{password}" name="password" id="password" placeholder="••••••••" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" required="">
                                <p data-th-if="${#fields.hasErrors('password')}" 
                                data-th-errors="*{password}"
                                class="text-red-600 px-2 py-0.5"></p>
                            </div>
                            <div>
                                <label for="phone" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Mobile Number</label>
                                <input type="text" th:field="*{phoneNum}" name="phone" id="phone" class="block  w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="Contact Number" required="">
                                <p data-th-if="${#fields.hasErrors('phoneNum')}" 
                                data-th-errors="*{phoneNum}"
                                class="text-red-600 px-2 py-0.5"></p>
                            
                            </div>
                            <div>
                                <label for="about" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Write About Yourself</label>
                                <textarea id="about" th:field="*{about}" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="Write here..."></textarea>
                            </div>
                            <div class="flex flex-col">
                                <button type="submit" class="w-full text-gray-50 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-1 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-green-800">Create an account</button>
                                <button type="reset" class="w-full text-gray-50 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-1 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-green-800">Reset</button>
                            
                            </div>
                            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                                Already have an account? <a href="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
          </section>
    </div>
    <script>
        console.log("Sign up");
    </script>
</body>


</html>